<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE beans[
        <!ELEMENT beans (bean*)>
        <!ELEMENT bean (property*)>
        <!ELEMENT property (#PCDATA)>

        <!ATTLIST bean id ID #REQUIRED>
        <!ATTLIST bean class CDATA #IMPLIED>
        <!ATTLIST property name CDATA #IMPLIED>
        <!ATTLIST property ref IDREF #IMPLIED>
        ]>

<beans>
    <bean id="fruitDAO" class="javaweb.fruit.dao.impl.FruitDAOImpl"/>
    <bean id="fruitService" class="javaweb.fruit.service.imp.FruitServiceImp">
        <property name="fruitDAO" ref="fruitDAO"/>
    </bean>
    <bean id="fruit" class="javaweb.fruit.controller.FruitController">
        <property name="fruitService" ref="fruitService"/>
    </bean>
</beans>